.blob {
    width:100%;
    overflow-x:hidden;
    position: relative;
}

.canvas {
    width:100%;
    margin-top: -7%;

    @media screen and (max-width: 1200px) {
        margin-top: -10%;
        width: 800px;
    }
    @media screen and (max-width: 600px) {
        width: 400px;
    }
}

.controls {
    background: #3F4656;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 3;
    width:100%;
    max-width:400px;
    box-shadow: 0 4px 20px -1px rgba(18, 22, 33, .7);
    
    @media(max-width: 1200px) {
        margin-top: -4%;
    }
    @media(max-width: 600px) {
        flex-direction: column;
        max-width:60%;
    }
    label {
        color: #CDD9ED;
        font-weight: 500;
        font-size: 14px;
        display: block;
        margin-bottom: 16px;
        @media(max-width: 600px) {
            margin-bottom: 12px;
        }
    }
}

.slider{
    width:100%;
}

.round-slider{
    display: flex;
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-300px) translateY(-300px);
}

.roundy{
    position:absolute;
}

/* path {
    fill: transparent;
}
  
text {
fill: #FF9800;
padding:20px;
transform:rotate(-12deg);
}

.slider-caption{
    position:absolute;
    width:630px;
    height:630px;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-62%) rotate(87deg);
    overflow:visible;
}

.slider-caption #curve{
    width:100%;
} */
.slider-caption{
    position:absolute;
    width:600px;
    height:600px;
    top:50%;
    left:50%;
    overflow:visible;
    pointer-events: none;
}

.slider-caption:nth-last-of-type(1){
    transform:translateX(-50%) translateY(-50%)rotate(85deg);
}
.slider-caption:nth-last-of-type(2){
    transform:translateX(-50%) translateY(-50%)rotate(213deg);
}

.slider-caption:nth-last-of-type(3){
    transform:translateX(-50%) translateY(-50%)rotate(337deg);
}


path {
    fill: transparent;
}
  
text {
fill: #FF9800;
transform:rotate(0deg) translateX(-10px);

}

